@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @*<a>@HttpContext.Current.Session["Usuario"].ToString()</a>*@
    <a></a>@User.Identity.ToString();</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
