
@{
    ViewData["Title"] = "Bienvenid@ a AuditApp";
}
<h1>@ViewData["Title"]</h1>


<h4> Tabla de contenidos</h4>

<ol>
    <li><a href="#img">[Imagotipo]</a></li>
    <li><a href="#queEs">[¿Qué es?] </a></li>
    <li><a href="#tecs">[Tecnologías]</a></li>
    <li><a href="#collabs">[Colaboradores]</a></li>
</ol>

<img src="https://user-images.githubusercontent.com/43002670/157101946-a1337045-d647-4bd7-bee6-99289535b355.png" id="img"/>

<h4 id="queEs">¿Qué es AuditApp?</h4>

<p>
Es una herramienta digital para la gestión de auditorías en el área de Higiene y Seguridad. 
Tiene como objetivo el relevamiento de datos para generar información inmediata.
Es de navegación intuitiva. </p>

<h4 id="tecs">Lista de tecnologías utilizadas en el proyecto</h4>

<ul>

<li>[Javascript]</li> 
<li>[linq]</li>
<li>[identity]</li>
<li>[sql-server]</li>
<li>[html5]</li>
<li>[csharp]</li> 
<li>[css3]</li>
<li>[netcore]</li> 
<li>[entity-framework-core]</li>
<li>[asp-net-mvc]</li>
<li>[razor-pages]</li>
<li>[bootstrap5]</li>
</ul>

<h4 id="collabs">Colaboradores y Rol</h4>

<div class="row">

<div class="col">
     <div class="card">
          <img src="~/img~/img/card1.jpg" class="card-img-top rounded-circle" alt="card1">
          <div class="card-body">
             <h5 class="card-title">Aperlo María Agustina</h5>
             <p class="card-text">FullStack Developer</p>
               <a href="https://github.com/No-Country/C3-G34-t" >
         <i class="bi bi-github" style="font-size: 1.97em;"></i>
    </a>
    <a href="#">
        <i class="bi bi-linkedin" style="font-size: 1.97em;"></i>
    </a>
          </div>
      </div>
    </div>
</div> 


<div class="col">
<div class="card" >
  <img class="rounded-circle" src="~/img~/img/card4.jpeg" alt="Card4">
  <div class="card-body">
    <h5 class="card-title">Franchi Maya</h5>
    <p class="card-text">FullStack Developer</p>
    <a href="https://github.com/mFranchi92" >
         <i class="bi bi-github" style="font-size: 1.97em;"></i>
    </a>
         <a href="https://linkedin.com/ln/maya-franchi">
         <i class="bi bi-linkedin" style="font-size: 1.97em;"></i>
         </a>
        </div>
  </div>
</div>

<div class="col">
<div class="card">
  <img class="rounded-circle" src="~/img~/img/card3.png" alt="Card3">
  <div class="card-body">
    <h5 class="card-title">García Javier</h5>
    <p class="card-text">FullStack Developer</p>
    <a href="https://github.com/RedFoxArg" >
         <i class="bi bi-github" style="font-size: 1.97em;"></i>
    </a>
         <a href="https://www.linkedin.com/in/garcia-javier/">
         <i class="bi bi-linkedin" style="font-size: 1.97em;"></i>
         </a>
         </div>
  </div>
</div>

<div class="col">
<div class="card">
  <img class="rounded-circle" src="~/img~/img/card2.png" alt="Card2">
  <div class="card-body">
    <h5 class="card-title">Merchan Jonathan</h5>
    <p class="card-text">FullStack Developer</p>
    <a href="https://github.com/No-Country/C3-G34-t" >
         <i class="bi bi-github" style="font-size: 1.97em;"></i>
    </a>
         <a href="https://linkedin.com">
         <i class="bi bi-linkedin" style="font-size: 1.97em;"></i>
         </a>
         </div>
  </div>
</div> 
