

@{
    ViewData["Title"] = "Bienvenid@ a AuditApp";
}
<h1>@ViewData["Title"]</h1>


<h4> Tabla de contenidos</h4>

<ol>
    <li><a href="#img">[Imagotipo]</a></li>
    <li><a href="#queEs">[¿Qué es?] </a></li>
    <li><a href="#tecs">[Tecnologías]</a></li>
    <li><a href="#collabs">[Colaboradores]</a></li>
</ol>

<img src="https://user-images.githubusercontent.com/43002670/157101946-a1337045-d647-4bd7-bee6-99289535b355.png" id="img"/>

<h4 id="queEs">¿Qué es AuditApp?</h4>

<p>
Es una herramienta digital para la gestión de auditorías en el área de Higiene y Seguridad. 
Tiene como objetivo el relevamiento de datos para generar información inmediata.
Es de navegación intuitiva. </p>

<h4 id="tecs">Lista de tecnologías utilizadas en el proyecto</h4>

<ul>

<li>[Javascript]</li> 
<li>[linq]</li>
<li>[identity]</li>
<li>[sql-server]</li>
<li>[html5]</li>
<li>[csharp]</li> 
<li>[css3]</li>
<li>[netcore]</li> 
<li>[entity-framework-core]</li>
<li>[asp-net-mvc]</li>
<li>[razor-pages]</li>
<li>[bootstrap5]</li>
</ul>

<h4 id="collabs">Colaboradores y Rol</h4>

<ul>
    <li>Aperlo María Agustina (FullStack Developer)</li>
    <li>Franchi Maya  (FullStack Developer)</li>    
    <li>García Javier  (FullStack Developer)</li>
    <li>Merchan Jonathan  (FullStack Developer)</li>
</ul>