@page
@model AccessDeniedModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Access denied";
=======
    ViewData["Title"] = "Acceso denegado";
>>>>>>> Developers
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
<<<<<<< HEAD
    <p class="text-danger">You do not have access to this resource.</p>
=======
    <p class="text-danger">No tienes acceso a este recurso.</p>
>>>>>>> Developers
</header>
