@page
@model ConfirmEmailChangeModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Confirm email change";
=======
    ViewData["Title"] = "Confirm cambio de email";
>>>>>>> Developers
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />